.toggleFixed {
  position: fixed;
  bottom: 0;
  right: 50px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 2px;
  display: flex;
  align-items: center;
  width: 210px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 8px 10px 0 rgba(0, 0, 0, 0.19);
  outline: none;
  cursor: pointer;
  color: #333;
  .round {
    width: 8px;
    height: 8px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: green;
    float: left;

  }

  .text-msg {
    float: left;
    padding: 5px;
    font-size: 14px;
  }
  .chat-elem-right {
    position: absolute;
    float: right;
    right: 0;
    display: flex;
    align-items: center;
    color: #333;
  }
  .btn-action-chat {
    cursor: pointer;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    width: 18px;
    height: 18px;
    background: #dddddd;
    padding:0;
  }

  .msg-overlay-bubble-header__control {
    background-color: rgba(0,0,0,0);
    border: 0;
    box-sizing: border-box;
    color: rgba(0,0,0,.6);
    cursor: pointer;
    display: inline-block;
    font-size: 0;
    height: 24px;
    outline-width: 2px;
    padding: 0;
    position: relative;
    transition-duration: 167ms;
    transition-property: background-color,box-shadow,color;
    transition-timing-function: cubic-bezier(0,0,.2,1);
    vertical-align: middle;
    border-radius: 12px;
    width: 24px;
  }
  .msg-overlay-bubble-header__control::before {
    transition-duration: .5s;
  }
  .msg-overlay-bubble-header__control .li-icon {
    top: calc(50% + 4px);
    box-sizing: content-box;
    height: 16px;
    left: calc(50% + 4px);
    margin: -12px 0 0 -12px;
    padding: 0;
    position: absolute;
    width: 16px;
  }

  .msg-overlay-bubble-header__control .li-icon > svg {
    transition: transform 167ms;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0,0,.2,1);
    display: block;
    vertical-align: top;
    color: rgba(0,0,0,.6);
  }

  .msg-overlay-bubble-header__control:hover {
      background: #eee;
  }
}
